@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #08080B;
  color: #F2F1F6;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.7);
  cursor: pointer;
}

.tabular {
  font-variant-numeric: tabular-nums;
}
